#wrapper {
    width: 100 vw;
    height: 250 vh;
    display: grid;
    grid-template-areas:
    'hd hd'
    's1 s1'
    's2 s2'
    's3 s3'
    's4 s4'
    'ft ft';
}

body {
    background-color: rgb(243, 169, 215); 
}

header, #sec1, #sec3, #sec2, #sec4, footer {
    height: 50vh;
    min-width: 96vw;
    margin: 8px;
    padding: 6px;
    outline: solid black 2px; 
}

header {
    grid-area: hd;
    background-color: rgb(215, 123, 172);
    height: 100px;
    display: flex; 
}

#button {
    width: 100px;
}

/* Menyn som poppar upp effter att man tryckt på button */

nav {
    background-color: rgb(123, 209, 215);
    outline: solid black 2px; 
}

#sec1 {
    grid-area: s1;
    background-color: rgb(215, 204, 123);
    
}

#sec2 {
    grid-area: s2;
    background-color: rgb(123, 152, 215);
}

#sec3 {
    grid-area: s3;
    background-color: rgb(215, 123, 128);
}

#sec4 {
    grid-area: s4;
    background-color:rgb(234, 169, 124);
}

footer {
    grid-area: ft;
    background-color: rgb(123, 215, 213);
}
