/* gemensam */
body{
    margin:0;
}

header {
    grid-area: hd;
    height: 20vh;
    min-height: 20vh;
    display: flex; 
    padding: 10px;
    margin: 10px;
    justify-content: center; 
    grid-template-columns: 1fr 3fr;
}

#button {
    width: 80px;
}

h1 {
    font-size: xx-large;
    align-content: center;
}
h3 {
    font-size: x-large; 
}
h4 {
    font-size: large;
}

.menu-mobile{
    Background-color: rgb(215, 123, 172);
    outline: solid black 2px; 
    padding: 10px;
}

.menu-desktop{
    display:flex;
    height: 15vh;
    grid-area: md;
    padding: 10px;
    Margin: 10px;
    justify-content: space-around;
}

#sec1 {
    grid-area: s1;
    min-height: 35vh;
    padding: 10px;
    margin: 10px;
}

#sec2 {
    grid-area: s2;
    min-height: auto;
    border: solid black 2px;
    margin: 10px;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;

}

#sec3 {
    grid-area: s3;
    min-height: auto;
    padding: 10px;
    margin: 10px;
}

#sec4 {
    grid-area: s4;
    min-height: 35vh; 
    margin: 10px;
    padding: 10px;
}

footer {
    grid-area: ft;
    min-height: 35vh;
    padding: 10px;
    margin: 10px;
}

.förstasidan-bakgrund {
    background-color: rgb(243, 169, 215); 
}

.boxar-första{
    background-color: rgb(215, 123, 172);
    border: solid black 2px;
}

#sec5 {
    grid-area: s5; 
}
#sec6 {
    grid-area: s6;
}
#sec7{
    grid-area: s7;
}
#sec8{
    grid-area: s8;
}
#sec9{
    grid-area: s9; 
}
#sec10{
    grid-area: s10;
}
#sec11{
    grid-area: s11;
}
#sec12{
    grid-area: s12;
}
.andrasidan-bakgrund{
    background-color: rgb(238, 191, 140); 
}
.andrasidan-boxar{
    background-color: rgb(231, 132, 96); 
    margin: 10px;
    border: solid black 2px;
    width: auto;
    height: 25vh;
}
#sec13 {
    grid-area: s13; 
}
#sec14 {
    grid-area: s14;
}
#sec15 {
    grid-area: s15;
}
#sec16 {
    grid-area: s16;
}
.tredjesidan-bakgrund {
    background-color:rgba(234, 145, 237, 0.925);
}
.boxar-tredje {
    background-color:rgba(198, 98, 201, 0.925);
    border: solid black 2px;
    width: auto;
    height: auto;
}


/* Mobile */

@media screen and (min-width: 200px) and (max-width:800px){
    .fade-layer{
        display: none;
        top:0;
        left:0;
        right:0;
        bottom:0;
        position: fixed;
        z-index: 6;
        background-color: rgba(215, 123, 172, 0.8);;
    }
    header{
        justify-content: center;
    }

    #button{
        position: left;
    }

    .menu-mobile{
        background-color: rgb(243, 169, 215);
        position: fixed;
        left:-70vw;
        top:0;
        right:0;
        bottom:0;
        z-index: 10;
        width: 65vw;
        height: 100vh;
    }
    .menu-desktop {
        display: none;
    }
    main{
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
    .show {
       left: 0vw; 
       display: block;
    }
    #andrasidan-wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
         'hd'
        'md'
        's5' 
        's6'
        's7'
        's8'
        's9' 
        's10'
        's11' 
        's12'
        'ft';
    }
    #tredjesidan-wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
        'hd'
        's13'
        's14'
        's15'
        's16'
        'ft'
    }
}

/* Desktop */

@media screen and (min-width: 800px){
    .fade-layer{
        display: none; 
    }
    .menu-mobile{
        display: none;
    }
    
    #button {
        display: none;
    }

    #wrapper {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'hd hd'
    'md md'
    's2 s1' 
    's4 s3'
    'ft ft';
    }
    #andrasidan-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'md md md md'
    's5 s6 s7 s8'
    's9 s10 s11 s12'
    'ft ft ft ft';
    }
    #tredjesidan-wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
        'hd hd hd'
        'nv nv nv'
        's13 s14 s14'
        's15 s15 s16'
        'ft ft ft'
    }
}